# Dependency directories
node_modules/

# Compiled output
dist/
build/

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.code-workspace

# Temporary files
*.log
*.tmp

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
